/*shecodes, quackit, geeksforgeeks*/

html {
  scroll-behavior: smooth;
}

header {
  z-index: 1000;
  position: fixed;
  color: white;
  display: flex;
  padding: 2.5rem;
  gap: 2rem;
}

body {
  z-index: 1;
  margin: 0;
  padding: 0;
}

.logo {
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  font-size: 15px;
  font-family: monospace;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.frog1 {
  z-index: 1;
  background-image: url(frogsinspace1.jpg);
}

.image1 {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.headers1 {
  position: absolute;
  bottom: 125px;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.h2-1,
.h2-2,
.h2-3 {
  margin-top: 0;
  padding-top: 0;
  font-family: monospace;
  font-size: 25px;
  font-weight: 100;
  color: white;
}

.h1-1,
.h1-2,
.h1-3 {
  margin-top: 0;
  padding-top: 0;
  font-family: monospace;
  color: white;
  font-size: 50px;
}

.readmore1,
.readmore2,
.readmore3 {
  display: inline-block;
  border-radius: 8px;
  border: 2px solid white;
  color: white;
  padding: 20px;
  padding-left: 35px;
  text-align: left;
  text-decoration: none;
  font-family: monospace;
  font-size: 16px;
  margin: 4px 2px;
  max-width: 200px;
  transition: 2s ease-out 100ms;
}

div a:hover {
  color: black;
  background-color: #ffffff;
}

.frog2 {
  z-index: 1;
  background-image: url(frogsinspace2.jpg);
}

.image2 {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.headers2 {
  position: absolute;
  bottom: 125px;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.frog3 {
  z-index: 1;
  background-image: url(frogsinspace3.jpg);
}

.image3 {
  position: relative;
  margin-top: 0;
  padding-top: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.headers3 {
  position: absolute;
  bottom: 125px;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.music {
  position: fixed;
  right: 20px;
  top: 2.5rem;
}

.socialmedias {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.fblogo {
  width: 35px;
  height: 35px;
}

.instalogo {
  width: 45px;
  height: 35px;
}

.lilogo {
  width: 42px;
  height: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 50px;
}
